target-version = "py310"
# preview = true

include = [
    "src/**/*.py",
    "tests/**/*.py",
    "pyproject.toml",
]
exclude = [
    # "tests/c_e2e",
    "tests/c_e2e/*/programs",
    "tests/c_e2e/tryalgo/tryalgo",
    "tests/c_e2e/tryalgo/tests/xtest*",
]

lint.select = [
    "ALL",
]

lint.extend-ignore = [
    # Later (or never)
    "CPY", # Copyright
    "D",
    "ANN",
    "ERA",
    "PLR",
    "N",
    "TD",
    "TC",
    "DOC",
    "PTH",
    "FBT",

    # False positive
    "S101", # Use of `assert` detected
    "D203", # one-blank-line-before-class
    "D213", # multi-line-summary-second-line
    "COM812", # ...
    "T201", # Print...
    "SIM117", # Nested `with` statements (this is a fundamental pattern in Textual)
    "RUF022", # 	[*] unsorted-dunder-all
    "FURB110",
    "PLW1514",
    "SLF001", # 	[ ] private-member-access

    # Fix later (or not)
    "TRY003", # 	[ ] raise-vanilla-args
    "RET505", # 	[*] superfluous-else-return
    "ARG001", # 	[ ] unused-function-argument
    "E501", #   	[ ] line-too-long
    "F401", #   	[-] unused-import
    "UP031", #  	[ ] printf-string-formatting
    "F841", #   	[ ] unused-variable
    "C901", #   	[ ] complex-structure
    "PGH004", # 	[ ] blanket-noqa
    "FIX002", # 	[ ] line-contains-todo
    "SIM108", # 	[ ] if-else-block-instead-of-if-exp
    "ARG002", # 	[ ] unused-method-argument
    "E721", #   	[ ] type-comparison
    "RUF005", # 	[ ] collection-literal-concatenation
    "A001", #   	[ ] builtin-variable-shadowing
    "PLW2901", #	[ ] redefined-loop-name
    "B904", #   	[ ] raise-without-from-inside-except
    "B905", #   	[ ] zip-without-explicit-strict
    "FURB188", #	[*] slice-to-remove-prefix-or-suffix
    "PERF401", #	[ ] manual-list-comprehension
    "PLC0415", #	[ ] import-outside-top-level
    "A002", #   	[ ] builtin-argument-shadowing
    "F821", #   	[ ] undefined-name
    "S605", #   	[ ] start-process-with-a-shell
    "SIM102", # 	[ ] collapsible-if
    "BLE001", # 	[ ] blind-except
    "C416", #   	[ ] unnecessary-comprehension
    "FIX001", # 	[ ] line-contains-fixme
    "PIE810", # 	[ ] multiple-starts-ends-with
    "PLC0206", #	[ ] dict-index-missing-items
    "PT018", #  	[ ] pytest-composite-assertion
    "RUF100", # 	[*] unused-noqa
    "S306", #   	[ ] suspicious-mktemp-usage
    "S603", #   	[ ] subprocess-without-shell-equals-true
    "S607", #   	[ ] start-process-with-partial-path
    "SIM105", # 	[ ] suppressible-exception
    "UP007", #  	[ ] non-pep604-annotation-union
    "PGH003",
]

[lint.extend-per-file-ignores]
"tests/**/*.py" = [
    "E711",
    "E712",
    "E501", # line too long in test assertions
    "S311", #  	[ ] suspicious-non-cryptographic-random-usage
    "S307", #  	[ ] suspicious-eval-usage
    "S112", #  	[ ] try-except-continue
    "SIM110", #	[ ] reimplemented-builtin
    "ARG001", #	[ ] unused-function-argument
    "B007", #  	[ ] unused-loop-control-variable
    "B905", #  	[ ] zip-without-explicit-strict
    "EM102", # 	[ ] f-string-in-exception
    "F841", #  	[*] unused-variable
    "FIX002", #	[ ] line-contains-todo
    "S102", #  	[ ] exec-builtin
    "TRY003", #	[ ] raise-vanilla-args
    "TRY004", #	[ ] type-check-without-type-error
]

[lint.isort]
combine-as-imports = true
required-imports = ["from __future__ import annotations"]
known-first-party = ["prescrypt"]
