site_name: Prescrypt Docs

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections

plugins:
  - blog:
      blog_toc: true

nav:
  - Home: index.md
  - Blog:
    - blog/index.md
